<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    {% load static %}
    <link href="{% static 'css/index5.css' %}" rel="stylesheet">
    {% load static %}
    <script src="{% static 'js/index5.js' %}"></script>
    <title>Alive</title>
    <style>
      

html,body {
  margin: 1%;
  font-family: Arial, Helvetica, sans-serif;
  
  overflow-x: hidden;
  
}


        .nav {
  height: 50px;
  width: 100%;
  
  position:sticky;
 
}
 
.nav > .nav-header {
  display: inline;
}
.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  font-weight: bolder;
  color: rgb(5, 5, 5);
  padding: 0px 10px 10px 10px;
}
.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 16px;
  font-weight: bolder;
}
.logo{
    height: 85px;
    width: 200px;
}
 
.nav > .nav-links > a {
  display: inline-block;
  padding: 20px 10px 13px 10px;
  text-decoration: none;
  color: #070707;
}
 
.nav > .nav-links > a:hover {
    
  padding: 10px;
    
  
  
  background-color: #fdeff8;
  color: #c7037c;
  /*background: linear-gradient(180deg, var(--c1, #8b045e), var(--c2, #e06cba) 51%, var(--c1, #f7f1f5)) var(--x, 0)/ 200%;*/
}






.nav > .nav-btn,
.nav > #nav-check {
  display: none;
}
@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 30px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(165, 7, 118);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  
  * {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: top;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}



    </style>
</head>
<body>

  <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            {% load static %}
            <img src="{% static 'images/logo.png' %}" alt="hackx logo" class="logo">
            
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <div class="nav-links">
          <a href="#about">About Us</a>
          <a href="#themes">Themes</a>
          <a href="#timeline">Timeline</a>
          
          <a href="#prizes">Prizes</a>
          <a href="#sponsors">Sponsors</a>
          
          <a href="#contacts">Contacts</a>
        </div>
      </div>
    

      <section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-wrap w-full">
      <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-6">
        <div class="flex relative pb-12">
          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">STEP 1</h2>
            <p class="leading-relaxed">Fill the basic details of your industry/company.</p>
          </div>
        </div>
        <div class="flex relative pb-12">
          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">STEP 2</h2>
            <p class="leading-relaxed">Fill in details of the type and quantity of Oxygen you produce and distibute.</p>
          </div>
        </div>
        <div class="flex relative pb-12">
          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <circle cx="12" cy="5" r="3"></circle>
              <path d="M12 22V8M5 12H2a10 10 0 0020 0h-3"></path>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">STEP 3</h2>
            <p class="leading-relaxed">Fill in details about the products other than Oxygen that you manufacture.</p>
          </div>
        </div>
        <div class="flex relative pb-12">
          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">STEP 4</h2>
            <p class="leading-relaxed">Fill in details of distributers and areas of distribution.</p>
          </div>
        </div>
        <div class="flex relative pb-12">
          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">STEP 5</h2>
            <p class="leading-relaxed">You will recieve an email of your responses.</p>
          </div>
        </div>
        <div class="flex relative pb-12">
          <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="flex-grow pl-4">
            <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">STEP 6</h2>
            <p class="leading-relaxed">You can view graphs/statistics on our home page.</p>
          </div>
        </div>
 
        
      </div>
      {% load static %}
      <img class="lg:w-3/5 md:w-1/2 object-cover object-center rounded-lg md:mt-0 mt-12" src="{% static 'images/cov8.png' %}" alt="step">
    </div>
  </div>
</section>









<b>


  <form action="/OxygenRecieverCommunity" method="POST">
  {% csrf_token %}

<section class="text-gray-600 body-font overflow-hidden">

  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-12">
      <div class="p-12 md:w-1/2 flex flex-col items-start">
        <span class="inline-block py-1 px-2 rounded bg-pink-50 text-pink-500 text-xs font-medium tracking-widest">BASIC DETAILS</span>
        


                    



<div class="form-control">
  <label for="name" id="label-name">
    Hospital/Nursing Home Name:
  </label>


  <input type="text"
    id="hname" name="hname"
    placeholder="Enter Hospital name" />
</div>



<div class="form-control">
  <label for="state" id="label-state">
  Location:
  </label>

<select onchange="print_city('state', this.selectedIndex);" id="sts" name ="stt" class="form-control" required></select>
<select id ="state" class="form-control" required></select>
<script language="javascript">print_state("sts");</script>
</div>



<div class="form-control">
  <label for="email" id="label-email">
    Contact Email ID:
  </label>

  <input type="email"
    id="hemail" name="hemail"
    placeholder="Enter company email" />
</div>


<div class="form-control">
  <label for="type" id="label-type">
    Type of Company:
  </label>
  

  <select name="typeof" id="typeof">
    <option value="Government">Government/Public</option>
    <option value="Private">Private</option>
    <option value="Semi">
      Semi Government
    </option>
    
  </select>
</div>


<div class="form-control">
  <label for="namep" id="label-namep">
    Your Name:
  </label>


  <input type="text"
    id="namep" name="namep"
    placeholder="Enter your name" />
</div>

<div class="form-control">
  <label for="emailp" id="label-emailp">
    Your Email ID:
  </label>

  <input type="email"
    id="emailp" name="emailp"
    placeholder="Enter your emailID" />
</div>

<div class="form-control">
  <label for="beds" id="label-beds">
    Number of beds in total:
  </label>

  <input type="number"
    id="beds" name="beds"
    placeholder="Number of beds" />
</div>
<div class="form-control">
  <label for="bedoxy" id="label-bedoxy">
    Number of beds attached to oxygen:
  </label>

  <input type="number"
    id="bedoxy" name="bedoxy"
    placeholder="Number" />
</div>
<div class="form-control">
  <label for="noofpatientoxyreq" id="label-emailp">
    Number of patients requiring Oxygen admitted approximately each day:
  </label>

  <input type="number"
    id="email" name="noofpatientoxyreq"
    placeholder="Number" />
</div>

<div class="form-control">
  <label for="emailp" id="label-emailp">
    Oxygen bought from: (Mention all)
  </label>

<div id="newlink">
<div>
<table border=0>
	<tr>
		<td> Name: </td>
		<td> <input type="text" name="linkurl[]" value=""> </td>
	</tr>
	
</table>
</div>
</div>
	
<p id="addnew">
	<a href="javascript:new_link()">Add New </a>
</p>
                 



<div id="newlinktpl" style="display:none">
<div>
<table border=0>
	<tr>
		<td> Name: </td>
		<td><input type="text" name="linkurl[]" value=""></td>
	</tr>
	
</table>
</div>
</div>
</div>

                    



      </div>





      <div class="p-12 md:w-1/2 flex flex-col items-start">
        <span class="inline-block py-1 px-2 rounded bg-pink-50 text-pink-500 text-xs font-medium tracking-widest">OXYGEN STORAGE TANK</span>
                        


          <div class="form-control">
  <label for="availability" id="label-type">
    Available:
  </label>
  

  <select name="availability" id="role">
    <option value="Government">Yes</option>
    <option value="Private">No</option>
    <option value="Semi">
      Under Construction
    </option>
    
  </select>
</div>

<div class="form-control">
  <label for="notank" id="label-emailp">
    Number of Tanks:
  </label>

  <input type="number"
    id="email" name="notank"
    placeholder="Number of Tanks" />
</div>

<div class="form-control">
  <label for="capacitytank" id="label-emailp">
    Capacity of Tanks:
  </label>

  <input type="number"
    id="email" name="capacitytank"
    placeholder="Capacity of Tanks" />
</div>
<div class="form-control">
  <label for="capintotank" id="label-emailp">
    Capacity of Tanks* Number:
  </label>

  <input type="number"
    id="email" name="capintotank"
    placeholder="Total Oxygen Capacity" />
</div>
<div class="form-control">
  <label for="quantoxyreq" id="label-emailp">
    Quantity of Oxygen required per day:
  </label>

  <input type="number"
    id="email"  name="quantoxyreq"
    placeholder="Quantity" />
</div>
<div class="form-control">
  <label for="nopatient" id="label-emailp">
    Number of patients served approximately each day:
  </label>

  <input type="number"
    id="email" name="nopatient"
    placeholder="Number" />
</div>
<br>
<br>
<br>
<br>
<div class="form-control">
  <label for="shortage" id="label-emailp">
  If any shortage, mention the quantity:
  </label>

  <input type="number"
    id="email" name="shortage"
    placeholder="Quantity" />
</div>
<div class="form-control">
  <label for="shortprob" id="label-emailp">
  If any shortage, how many patients faced issue?
  </label>

  <input type="number"
    id="email" name="shortprob"
    placeholder="Number" />
</div>
<div class="form-control">
  <label for="deaths" id="label-emailp">
  Any deaths? 
  </label>

  <input type="number"
    id="email" name="deaths"
    placeholder="Number" />
</div>
<div class="form-control">
  <label for="causeshort" id="label-emailp">
  Cause of shortage: Please give valid pointwise proper reasons for shortage:
  </label>

  <input type="text"
    id="email" name="causeshort"
    placeholder="Causes" />
</div>


                      
    </div>
  </div>

</section>







<section class="text-gray-600 body-font overflow-hidden">

<div class="container px-5 py-24 mx-auto">
  <div class="flex flex-wrap -m-12">
    <div class="p-12 md:w-1/2 flex flex-col items-start">
      <span class="inline-block py-1 px-2 rounded bg-pink-50 text-pink-500 text-xs font-medium tracking-widest">STORAGE TANK SAFETY AND CRISIS MANAGEMENT</span>
      


                      


<div class="form-control">
<label for="maintain" id="label-name">
  Storage tank maintenance frequency in a year:
</label>


<input type="number"
  id="name" name="maintain"
  placeholder="Quantity" />
</div>

<div class="form-control">
<label for="response" id="label-name">
  Is there a Emergency response team to control Oxygen related disasters?
</label>


<select name="response" id="role">
    <option value="Government">Yes</option>
    <option value="Private">No</option>
    <option value="Semi">
      Under Construction
    </option>
    
  </select>
</div>





<div class="form-control">
<label for="altoxy" id="label-type">
  Alternative oxygen supply present?
</label>


<select name="altoxy" id="role">
  <option value="Government">Yes</option>
  <option value="Private">No</option>
 
  
</select>
</div>

<div class="form-control">
  <label for="describe" id="label-namep">
    Describe it:
  </label>


  <textarea name="describe" id="comment"
                placeholder=" ">
            </textarea>
</div>

<div class="form-control">
  <label for="quantaltoxy" id="label-emailp">
    Quantity of alternative oxygen: 
  </label>

  <input type="number"
    id="email" name="quantaltoxy"
    placeholder="In MT" />
</div>
<div class="form-control">
  <label for="filename" id="label-emailp">
    Upload the report of last safety audit or maintenance audit:
  </label>
<input type="file" id="myFile" name="filename">
  
  </div>
  <br><br><br>
  <div class="form-control">
<label for="accidents" id="label-name">
  Has there been any accidents or huge shortage incident previously?
</label>


<select name="accidents" id="role">
    <option value="Government">Yes</option>
    <option value="Private">No</option>
    
    
  </select>
</div>
<br><br><br>
<div class="form-control">
  <label for="filenameacc" id="label-emailp">
    Upload the compiled report of all such accidents till date:
  </label>
<input type="file" id="myFile" name="filenameacc">
  
  </div>
                    



    </div>





    <div class="p-12 md:w-1/2 flex flex-col items-start">
        <span class="inline-block py-1 px-2 rounded bg-pink-50 text-pink-500 text-xs font-medium tracking-widest">OXYGEN CYLINDERS</span>
                        


          <div class="form-control">
  <label for="avail" id="label-type">
    Available:
  </label>
  

  <select name="avail" id="role">
    <option value="Government">Yes</option>
    <option value="Private">No</option>
    <option value="Semi">
      ordered
    </option>
    
  </select>
</div>

<div class="form-control">
  <label for="cylnum" id="label-emailp">
    Number of Cylinders:
  </label>

  <input type="number"
    id="email" name="cylnum"
    placeholder="Number of Cylinders" />
</div>

<div class="form-control">
  <label for="capcyl" id="label-emailp">
    Capacity of each cylinder:
  </label>

  <input type="number"
    id="email" name="capcyl"
    placeholder="Capacity " />
</div>
<div class="form-control">
  <label for="capcylintonum" id="label-emailp">
    Capacity of cylinders* Number:
  </label>

  <input type="number"
    id="email" name="capcylintonum"
    placeholder="Total Oxygen Capacity" />
</div>
<div class="form-control">
  <label for="quantoxyperday" id="label-emailp">
    Quantity of Oxygen required per day:
  </label>

  <input type="number"
    id="email" name="quantoxyperday"
    placeholder="Quantity" />
</div>
<div class="form-control">
  <label for="nopatientedserve" id="label-emailp">
    Number of patients served approximately each day:
  </label>

  <input type="number"
    id="email" name="nopatientedserve"
    placeholder="Number" />
</div>

<div class="form-control">
  <label for="tankshortage" id="label-emailp">
  If any shortage, mention the quantity:
  </label>

  <input type="number"
    id="email" name="tankshortage"
    placeholder="Quantity" />
</div>
<div class="form-control">
  <label for="facedissue" id="label-emailp">
  If any shortage, how many patients faced issue?
  </label>

  <input type="number"
    id="email" name="facedissue"
    placeholder="Number" />
</div>
<div class="form-control">
  <label for="emailp" id="label-emailp">
  Any deaths? 
  </label>

  <input type="number"
    id="email"
    placeholder="Number" />
</div>
<div class="form-control">
  <label for="emailp" id="label-emailp">
  Cause of shortage: Please give valid pointwise proper reasons for shortage:
  </label>

  <input type="text"
    id="email"
    placeholder="Causes" />
</div>


                      
    </div>
  </div>

</section>








<section class="text-gray-600 body-font overflow-hidden">

<div class="container px-5 py-24 mx-auto">
  <div class="flex flex-wrap -m-12">
    <div class="p-12 md:w-1/2 flex flex-col items-start">
      <span class="inline-block py-1 px-2 rounded bg-pink-50 text-pink-500 text-xs font-medium tracking-widest">RETURN</span>
      


                      

        <div class="form-control">
  <label for="emailp" id="label-emailp">
    Number of cylinders bought or arrived each day:
  </label>
<br><br><br><br><br><br>
  <input type="number"
    id="email"
    placeholder="Number" />
</div>
<br><br><br><br><br><br>
<div class="form-control">
  <label for="emailp" id="label-emailp">
  Number of cylinders returned each day:
  </label>
  <br><br><br><br><br><br>
  <input type="number"
    id="email"
    placeholder="Number" />
</div>

<br><br><br><br>
        <div class="form-control">
  <label for="emailp" id="label-emailp">
    Oxygen cylinders bought from: (Mention all)
  </label>

<div id="newlink">
<div>
<table border=0>
	<tr>
		<td> Name: </td>
		<td> <input type="text" name="linkurl[]" value=""> </td>
	</tr>
	
</table>
</div>
</div>
	
<p id="addnew">
	<a href="javascript:new_link()">Add New </a>
</p>
                 



<div id="newlinktpl" style="display:none">
<div>
<table border=0>
	<tr>
		<td> Name: </td>
		<td><input type="text" name="linkurl[]" value=""></td>
	</tr>
	
</table>
</div>
</div>


<div class="form-control">
  <label for="emailp" id="label-emailp">
    Empty cylinders given to: (Mention all)
  </label>

<div id="newlink">
<div>
<table border=0>
	<tr>
		<td> Name: </td>
		<td> <input type="text" name="linkurl[]" value=""> </td>
	</tr>
	
</table>
</div>
</div>
	
<p id="addnew">
	<a href="javascript:new_link()">Add New </a>
</p>
                 



<div id="newlinktpl" style="display:none">
<div>
<table border=0>
	<tr>
		<td> Name: </td>
		<td><input type="text" name="linkurl[]" value=""></td>
	</tr>
	
</table>
</div>
</div>
</div>
</div>

                    



    </div>





    <div class="p-12 md:w-1/2 flex flex-col items-start">
      <span class="inline-block py-1 px-2 rounded bg-pink-50 text-pink-500 text-xs font-medium tracking-widest">OXYGEN CYLINDER RELATED DISASTER PREVETION</span>
      
     

                      


<div class="form-control">
<label for="name" id="label-name">
  Cylinder Storage area and pipelines maintenance frequency in a year:
</label>


<input type="number"
  id="name"
  placeholder="Quantity" />
</div>

<div class="form-control">
<label for="name" id="label-name">
  Is there a Emergency response team to control Oxygen cylinder/pipeline related disasters?
</label>


<select name="role" id="role">
    <option value="Government">Yes</option>
    <option value="Private">No</option>
    
    
  </select>
</div>





<div class="form-control">
<label for="type" id="label-type">
  Alternative oxygen supply present?
</label>


<select name="role" id="role">
  <option value="Government">Yes</option>
  <option value="Private">No</option>
 
  
</select>
</div>

<div class="form-control">
  <label for="namep" id="label-namep">
    Describe it:
  </label>


  <textarea name="comment" id="comment"
                placeholder="Enter your comment here">
            </textarea>
</div>

<div class="form-control">
  <label for="emailp" id="label-emailp">
    Quantity of alternative oxygen: 
  </label>

  <input type="number"
    id="email"
    placeholder="In MT" />
</div>
<div class="form-control">
  <label for="emailp" id="label-emailp">
    Upload the report of last safety audit or maintenance audit:
  </label>
<input type="file" id="myFile" name="filename">
  
  </div>

  <div class="form-control">
<label for="name" id="label-name">
  Has there been any accidents or huge shortage incident previously or any hygiene related disaster due to unhygienic pipelines?
</label>


<select name="role" id="role">
    <option value="Government">Yes</option>
    <option value="Private">No</option>
    
    
  </select>
</div>
<div class="form-control">
  <label for="emailp" id="label-emailp">
    Upload the compiled report of all such accidents till date:
  </label>
<input type="file" id="myFile" name="filename">
  
  </div>



  
                    



<button type="submit" class="flex mx-auto text-white bg-pink-400 border-0 py-2 px-64 focus:outline-none hover:bg-pink-600 rounded text-lg">SUBMIT</button>


</section>



</form>
         
        

                 



















</b>



<footer class="text-gray-100 body-font bg-pink-100">
  <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
    <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        {% load static %}
        <img src="{% static 'images/logo.png' %}">
        
      </a>
      
    </div>
    <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-gray-800">First Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Second Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Third Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-gray-800">First Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Second Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Third Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-gray-800">First Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Second Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Third Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-gray-800">First Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Second Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Third Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
          </li>
        </nav>
      </div>
    </div>
  </div>
  <div class="bg-pink-300">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
      <p class="text-gray-500 text-sm text-center sm:text-left">© 2020 Tailblocks —
        <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@knyttneve</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
        <a class="text-gray-500">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </div>
</footer>



     
</body>
</html>